[Desktop Entry]
Version=1.0
Type=Application
Exec=dsbbg
Icon=preferences-desktop-wallpaper
StartupNotify=false
Terminal=false
Categories=Settings;Utility;
Name=Set background image
Name[de]=Hintergrundbild setzen

